@media screen and (min-width: 470px) {
  #chat {
    width: 400px !important;
    left: 10px;
  }
}

@media screen and (min-width: 940px) {
  #chat {
    top: unset !important;
    bottom: 0;
  }
}

#chat ul,
#chat ul * {
  user-select: text !important;
}

#chat ul {
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#chat ul::-webkit-scrollbar {
  display: none;
}

#chat {
  position: absolute;
  z-index: 1020;
  top: 30px;
  background: rgba(0, 0, 0, 0.4);
  border-image: url("/img/border-thin.png") 9 / 9px 9px;
  width: 200px;
  color: #fff;
  padding: 5px;
}

#chat a {
  color: #fff;
}

#chat-message {
  padding: 5px;
  background: rgba(255, 255, 255, 0.7);
  border-color: #281a00;
  border-image: url("/img/border-thin.png") 9 / 9px 9px;
  width: 100%;
  height: 24px;
  margin-top: 5px;
  box-sizing: border-box;
}

#btn-toggle-chat {
  padding: 3px 8px;
  background: #201c18;
  color: #adadad;
  border-image: url("/img/border-thin.png") 9 / 9px 9px;
  outline: none;
  user-select: none;
  float: right;
}

#chat-tab-bar {
  margin-top: -14px;
}

#chat-tab-bar button {
  padding: 3px 8px;
  background: #201c18;
  color: #adadad;
  border-image: url("/img/border-thin.png") 9 / 9px 9px;
  outline: none;
  user-select: none;
}

#chat-tab-bar button.active {
  color: #fff;
}

#chat ul {
  list-style: none;
  padding: 0;
  height: 130px;
  overflow-y: scroll;
}

#chat li {
  padding-top: 4px;
  padding-bottom: 2px;
  word-break: break-all;
  display: flex;
  gap: 1px;
}

#chat li div.msg {
  max-width: 96%;
}

#chat li div.msg > .author {
  color: #f0f0c8;
  padding-right: 5px;
}

#chat li.error-message {
  color: #ff4c4c;
}
