#login-form {
  background: url("/gfx/gfx001/102.png");
  background-color: #000;
  width: 320px;
  height: 159px;
  margin: auto;
  position: relative;
}

label[for="login-remember"] {
  position: absolute;
  top: 91px;
  left: 126px;
  font-size: 11px;
  color: #fff;
}

input[type="text"],
input[type="password"] {
  background: #a38269;
  color: #000;
  border: 1px solid #000;
  outline: none;
}

#login-username {
  position: absolute;
  top: 35px;
  left: 130px;
  width: 138px;
  height: 17px;
}

#login-password {
  position: absolute;
  top: 72px;
  left: 130px;
  width: 138px;
  height: 17px;
}

#login-form .buttons {
  position: absolute;
  bottom: 20px;
  display: flex;
  gap: 2px;
  width: 100%;
  justify-content: center;
}
