.create-account-dialog {
  background: url("/img/wood.png");
  border-image: url("/img/border-medium.png") 9 / 9px 9px;
  width: 300px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;

  .title {
    font-family: "ms_sans_serif_bold", sans-serif;
    padding: 9px;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    border-image: url("/img/border-thin.png") 9 / 9px 9px;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: rgba(0, 0, 0, 0.4);
    padding: 9px;
    border-image: url("/img/border-thin.png") 9 / 9px;
  }

  label {
    color: #fff;
    text-shadow: #000 1px 1px 2px;
    flex: 1;
  }

  input[type="text"],
  input[type="password"] {
    font-family: "ms_sans_serif", sans-serif;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    border-style: solid;
    border-width: 2px 1px 1px 1px;
    border-image: url("/img/border-button.png") 3 2 2 2 fill;
    border-image-repeat: stretch;
    outline: none;
    flex: 2;
  }
}

.form-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button-row {
  display: flex;
  gap: 2px;
  align-items: center;
  justify-content: center;
}
