#mobile-controls {
  opacity: 0.8;
  z-index: 1020;
}

#joystick-container {
  position: absolute;
  bottom: 5%;
  left: 5%;
  width: 120px;
  height: 120px;
  touch-action: none;
}

#joystick-base {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: transparent;
  background-image: url("/move.png");
  background-size: cover;
  position: absolute;
}

#joystick-thumb {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  background-color: transparent;
  background-image: url("/move-circle.png");
  background-size: cover;
  left: 20px;
  top: 20px;
  transform: translate(0, 0);
}

#mobile-actions-container {
  position: absolute;
  bottom: 1%;
  right: 10%;
  width: 170px;
  height: 120px;
  touch-action: none;
  display: flex;
}

#mobile-actions-container button {
  border: none;
  outline: none;
  height: 84px;
  width: 84px;
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
}
