#create-account-form {
  display: flex;
  flex-flow: column;
  align-self: center;
  margin: auto;
}

#create-account-form form {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 10px;
}

#create-account-form form > div {
  display: flex;
  flex-flow: column;
  gap: 5px;
}

#create-account-form .buttons {
  display: flex;
  flex-flow: row;
  gap: 2px;
}
