#small-alert-small-header {
  position: absolute;
  background: url("/gfx/gfx001/123.png");
  background-color: #000;
  width: 290px;
  height: 125px;
  user-select: none;
  z-index: 1020;
}

#small-alert-small-header .title {
  position: absolute;
  left: 18px;
  top: 15px;
  width: 258px;
}

#small-alert-small-header .message {
  position: absolute;
  left: 18px;
  top: 40px;
  width: 255px;
  height: 40px;
}

#small-alert-small-header button {
  position: absolute;
  top: 80px;
  right: 18px;
}
