#hotbar {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 4px;
  z-index: 1020;

  counter-reset: slot-counter;
}

#hotbar .slot {
  padding: 3px;
  position: relative;
  width: 4em;
  height: 4em;
  border-image: url("/img/border-thin.png") 9 / 9px 9px;
  display: flex;
  justify-content: center;
  align-items: center;

  counter-increment: slot-counter;
}

#hotbar .slot::before {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1021;
  box-sizing: border-box;
}

#hotbar .slot::after {
  width: 14px;
  height: 14px;
  content: counter(slot-counter);
  color: #e6c5a5;
  font-size: 10px;
  top: 3px;
  left: 3px;
  background-color: #5a3100;
  position: absolute;
  border-bottom: 1px solid #3a2110;
  border-right: 1px solid #3a2110;
  border-radius: 0 0 4px 0;
  align-items: center;
  justify-content: center;
  line-height: normal;
  z-index: 1022;
  display: flex;
}

#hotbar .slot .item,
#hotbar .slot .skill {
  position: absolute;
  z-index: 1023;
}

#hotbar .slot .skill {
  width: 34px;
  height: 32px;
  scale: 1.3;
}

#hotbar .slot .item {
  background: url("/gfx/gfx003/100.png");
  width: 64px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  scale: 1.3;
}
