#in-game-menu {
  position: absolute;
  right: 0;
  display: flex;
  flex-flow: column;
  height: 100%;
  justify-content: center;
  z-index: 1020;
}

#in-game-menu button {
  min-width: 45px;
  padding: 4px;
}
