#small-alert {
  position: absolute;
  background: url("/gfx/gfx001/118.png");
  background-color: #000;
  width: 290px;
  height: 157px;
  user-select: none;
  z-index: 1020;
}

#small-alert .title {
  position: absolute;
  left: 58px;
  top: 22px;
  width: 210px;
}

#small-alert .message {
  position: absolute;
  left: 20px;
  top: 56px;
  width: 252px;
  height: 55px;
}

#small-alert button {
  position: absolute;
  top: 113px;
  right: 18px;
}
