.button {
  background: url("/img/wood.png");
  outline: none;
  border-style: solid;
  border-width: 2px 1px 1px 1px;
  border-image: url("/img/border-button.png") 3 2 2 2 fill;
  border-image-repeat: stretch;
  cursor: pointer;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  padding: 2px 10px;
  height: 30px;

  > span {
    font-family: "forte", "ms_sans_serif_bold", sans-serif;
    letter-spacing: -3px;
    word-spacing: 3px;
    color: var(--button-text-color);
    -webkit-text-stroke: 0.9px var(--button-stroke-color);
    font-size: 2.1em;
    text-decoration: none;
    transform: scaleX(0.75);
    text-shadow:
      -1px -1px 0 var(--button-stroke-color),
      0 -1px 0 var(--button-stroke-color),
      1px -1px 0 var(--button-stroke-color),
      1px 0 0 var(--button-stroke-color),
      1px 1px 0 var(--button-stroke-color),
      0 1px 0 var(--button-stroke-color),
      -1px 1px 0 var(--button-stroke-color),
      -1px 0 0 var(--button-stroke-color);
  }

  &:hover > span {
    color: var(--button-hover-text-color);
    text-shadow: var(--button-hover-text-shadow) 0 0 5px;
  }

  &.large {
    padding: 2px 4px;
    height: 40px;
    &:after,
    &:before {
      content: " ";
      display: inline-block;
      width: 16px;
      height: 15px;
      background: url("/img/screw.png");
    }

    > span {
      font-size: 2.4em;
    }
  }
}
