.container {
  display: flex;
  flex-flow: column;
  width: 100%;
  align-self: center;
  align-items: center;
  gap: 2px;
}

.logo {
  margin-bottom: 10px;
  position: relative;
}

@keyframes pulse {
  0% {
    font-size: 1em;
    rotate: -1deg;
  }

  50% {
    font-size: 1.1em;
    rotate: 2deg;
  }

  100% {
    font-size: 1em;
    rotate: -1deg;
  }
}

.logo::after {
  content: attr(data-slogan);
  position: absolute;
  display: inline-block;
  font-style: italic;
  font-family: monospace;
  color: #f9f92c;
  bottom: 15px;
  right: 0;
  animation: pulse 2s infinite;
}
