#character-select {
  display: flex;
  flex-flow: column;
  align-self: center;
  margin: auto;
  gap: 20px;
}

#character-select .characters {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 2px;
}

@media screen and (min-width: 840px) {
  #character-select .characters {
    flex-flow: row;
  }
}

#character-select .character {
  background: url("/gfx/gfx001/111.png");
  background-color: #000;
  width: 276px;
  height: 123px;
  position: relative;
  user-select: none;
}

#character-select .character > .buttons {
  position: absolute;
  bottom: 8px;
  left: 160px;
  display: flex;
  gap: 2px;
  flex-flow: column;
}

#character-select .character .name {
  position: absolute;
  top: 30px;
  left: 160px;
  width: 90px;
  text-align: center;
  color: #b4a08c;
  font-size: 12px;
}

#character-select .character .level {
  position: absolute;
  top: 98px;
  left: 30px;
  color: #b4a08c;
  font-size: 12px;
}

#character-select .character .preview {
  position: absolute;
  top: 15px;
  left: 50px;
}

#character-select .character .admin-level {
  position: absolute;
  top: 100px;
  left: 110px;
  width: 13px;
  height: 13px;
}

#character-select .character .admin-level.level-2,
#character-select .character .admin-level.level-3,
#character-select .character .admin-level.level-4 {
  background-image: url("/gfx/gfx002/132.png");
  background-position: 0 -155px;
}

#character-select .character .admin-level.level-5 {
  background-image: url("/gfx/gfx002/132.png");
  background-position: 0 -181px;
}

#character-select > .buttons {
  align-self: center;
}
