@import "./base.css";
@import "./typography.css";

#container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

#game {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

#ui {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
