:root {
  --eo-brown: #7b5a29;
  --eo-font-color-light: #f0f0c8;
}

@font-face {
  font-family: w95fa;
  src: url("/w95fa.woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

* {
  /* biome-ignore lint/a11y/useGenericFontNames: Only custom font!! */
  font-family: w95fa !important;
  -webkit-touch-callout: none; /* Disable “Save Image” / “Copy” popup */
  -webkit-user-select: none; /* Disable text selection */
  user-select: none;
}

::selection {
  background: #e4cdbc;
  color: #000;
}

@media (max-aspect-ratio: 4 / 3) {
  #container {
    height: 100vh;
    width: calc(100vh * 4 / 3);
    max-width: 100vw;
  }
}

#container {
  position: relative;
  width: 100vw;
  height: calc(100vw * 3 / 4);
  max-height: 100vh;
}

@media (max-aspect-ratio: 4 / 3) {
  #container {
    height: 100vh;
  }
}

#game {
  position: absolute;
  top: 0;
  display: block;
  image-rendering: pixelated;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
}

@media (min-aspect-ratio: 16 / 9) {
  #container {
    height: 100vh;
  }

  #game {
    transform: translate(-50%);
  }
}

#ui {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#dialogs {
  display: flex;
  gap: 1em;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  z-index: 1010;
}

.hidden {
  display: none !important;
}

@keyframes pulse {
  0% {
    font-size: 1em;
    rotate: -1deg;
  }

  50% {
    font-size: 1.1em;
    rotate: 2deg;
  }

  100% {
    font-size: 1em;
    rotate: -1deg;
  }
}

#cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  /* optional dimming effect */
  z-index: 1000;
  /* higher than game UI, lower than modal */
}

.title {
  font-size: 13px;
  color: #f0f0c8;
}

.message {
  font-size: 12px;
  color: #fff;
}

#btn-attack {
  background-image: url("/attack.png");
}

#btn-toggle-sit {
  background-image: url("/sit.png");
}

div.icon {
  background: url("/gfx/gfx002/132.png");
  width: 13px;
  height: 13px;
}

div.icon[data-id="-1"] {
  background: transparent;
}

div.icon[data-id="1"] {
  background-position-y: -13px;
}

div.icon[data-id="2"] {
  background-position-y: -26px;
}

div.icon[data-id="3"] {
  background-position-y: -39px;
}

div.icon[data-id="4"] {
  background-position-y: -52px;
}

div.icon[data-id="5"] {
  background-position-y: -65px;
}

div.icon[data-id="6"] {
  background-position-y: -78px;
}

div.icon[data-id="7"] {
  background-position-y: -91px;
}

div.icon[data-id="8"] {
  background-position-y: -104px;
}

div.icon[data-id="9"] {
  background-position-y: -117px;
}

div.icon[data-id="10"] {
  background-position-y: -130px;
}

div.icon[data-id="11"] {
  background-position-y: -143px;
}

div.icon[data-id="12"] {
  background-position-y: -156px;
}

div.icon[data-id="13"] {
  background-position-y: -169px;
}

div.icon[data-id="14"] {
  background-position-y: -182px;
}

div.icon[data-id="15"] {
  background-position-y: -195px;
}

div.icon[data-id="16"] {
  background-position-y: -208px;
}

div.icon[data-id="17"] {
  background-position-y: -221px;
}

div.icon[data-id="18"] {
  background-position-y: -234px;
}

div.icon[data-id="19"] {
  background-position-y: -247px;
}

div.icon[data-id="20"] {
  background-position-y: -260px;
}

div.icon[data-id="21"] {
  background-position-y: -273px;
}

div.icon[data-id="22"] {
  background-position-y: -286px;
}

div.icon[data-id="23"] {
  background-position-y: -299px;
}

.img-label {
  --bg-url: "";
  --bg-x: 0;
  --bg-y: 0;
  --width: 0;
  --height: 0;

  display: block;
  background-color: transparent;
  /* biome-ignore lint/suspicious/noShorthandPropertyOverrides: CSS variables */
  background: var(--bg-url) var(--bg-x) var(--bg-y);
  width: var(--width);
  height: var(--height);
  user-select: none;
}

.img-label[data-id="account-name"] {
  --bg-url: url("/gfx/gfx001/112.png");
  --bg-x: 0;
  --bg-y: 0;
  --width: 149px;
  --height: 16px;
}

.img-label[data-id="password"] {
  --bg-url: url("/gfx/gfx001/112.png");
  --bg-x: 0;
  --bg-y: -17px;
  --width: 149px;
  --height: 12px;
}

.img-label[data-id="confirm-password"] {
  --bg-url: url("/gfx/gfx001/112.png");
  --bg-x: 0;
  --bg-y: -29px;
  --width: 149px;
  --height: 16px;
}

.img-label[data-id="real-name"] {
  --bg-url: url("/gfx/gfx001/112.png");
  --bg-x: 0;
  --bg-y: -44px;
  --width: 149px;
  --height: 16px;
}

.img-label[data-id="location"] {
  --bg-url: url("/gfx/gfx001/112.png");
  --bg-x: 0;
  --bg-y: -58px;
  --width: 149px;
  --height: 16px;
}

.img-label[data-id="email"] {
  --bg-url: url("/gfx/gfx001/112.png");
  --bg-x: 0;
  --bg-y: -76px;
  --width: 149px;
  --height: 16px;
}

.img-label[data-id="gender"] {
  --bg-url: url("/gfx/gfx001/122.png");
  --bg-x: 0;
  --bg-y: -38px;
  --width: 23px;
  --height: 18px;
}

.img-label[data-id="hair-color"] {
  --bg-url: url("/gfx/gfx001/122.png");
  --bg-x: 0;
  --bg-y: 0;
  --width: 23px;
  --height: 18px;
}

.img-label[data-id="hair-style"] {
  --bg-url: url("/gfx/gfx001/122.png");
  --bg-x: 0;
  --bg-y: -20px;
  --width: 23px;
  --height: 18px;
}

.img-label[data-id="skin"] {
  --bg-url: url("/gfx/gfx001/122.png");
  --bg-x: -46px;
  --bg-y: -38px;
  --width: 23px;
  --height: 18px;
}

.img-btn {
  --bg-url: "";
  --bg-x: 0;
  --bg-y: 0;
  --hover-x: 0;
  --hover-y: 0;
  --width: 0;
  --height: 0;

  background-color: transparent;
  border: none;
  outline: none;
  /* biome-ignore lint/suspicious/noShorthandPropertyOverrides: CSS variables */
  background: var(--bg-url) var(--bg-x) var(--bg-y);
  width: var(--width);
  height: var(--height);
  cursor: pointer;
}

.img-btn:hover {
  background-position: var(--hover-x) var(--hover-y);
}

/* Specific buttons */
.img-btn[data-id="create-account"] {
  --bg-url: url("/gfx/gfx001/113.png");
  --bg-x: 0;
  --bg-y: 0;
  --hover-x: -180px;
  --hover-y: 0;
  --width: 180px;
  --height: 40px;
}

.img-btn[data-id="play-game"] {
  --bg-url: url("/gfx/gfx001/113.png");
  --bg-x: 0;
  --bg-y: -40px;
  --hover-x: -180px;
  --hover-y: -40px;
  --width: 180px;
  --height: 40px;
}

.img-btn[data-id="view-credits"] {
  --bg-url: url("/gfx/gfx001/113.png");
  --bg-x: 0;
  --bg-y: -80px;
  --hover-x: -180px;
  --hover-y: -80px;
  --width: 180px;
  --height: 40px;
}

.img-btn[data-id="create"] {
  --bg-url: url("/gfx/gfx001/114.png");
  --bg-x: 0;
  --bg-y: 0;
  --hover-x: -120px;
  --hover-y: 0;
  --width: 120px;
  --height: 40px;
}

.img-btn[data-id="cancel-big"] {
  --bg-url: url("/gfx/gfx001/114.png");
  --bg-x: 0;
  --bg-y: -40px;
  --hover-x: -120px;
  --hover-y: -40px;
  --width: 120px;
  --height: 40px;
}

.img-btn[data-id="connect-big"] {
  --bg-url: url("/gfx/gfx001/114.png");
  --bg-x: 0;
  --bg-y: -80px;
  --hover-x: -120px;
  --hover-y: -80px;
  --width: 120px;
  --height: 40px;
}

.img-btn[data-id="password"] {
  --bg-url: url("/gfx/gfx001/114.png");
  --bg-x: 0;
  --bg-y: -120px;
  --hover-x: -120px;
  --hover-y: -120px;
  --width: 120px;
  --height: 40px;
}

.img-btn[data-id="play-game"] {
  --bg-url: url("/gfx/gfx001/113.png");
  --bg-x: 0;
  --bg-y: -40px;
  --hover-x: -180px;
  --hover-y: -40px;
  --width: 180px;
  --height: 40px;
}

.img-btn[data-id="connect"] {
  --bg-url: url("/gfx/gfx001/115.png");
  --bg-x: 0;
  --bg-y: 0;
  --hover-x: -91px;
  --hover-y: -0;
  --width: 91px;
  --height: 29px;
}

.img-btn[data-id="cancel"] {
  --bg-url: url("/gfx/gfx001/115.png");
  --bg-x: 0;
  --bg-y: -29px;
  --hover-x: -91px;
  --hover-y: -29px;
  --width: 91px;
  --height: 29px;
}

.img-btn[data-id="login"] {
  --bg-url: url("/gfx/gfx001/115.png");
  --bg-x: 0;
  --bg-y: -58px;
  --hover-x: -91px;
  --hover-y: -58px;
  --width: 91px;
  --height: 29px;
}

.img-btn[data-id="delete"] {
  --bg-url: url("/gfx/gfx001/115.png");
  --bg-x: 0;
  --bg-y: -87px;
  --hover-x: -91px;
  --hover-y: -87px;
  --width: 91px;
  --height: 29px;
}

.img-btn[data-id="ok"] {
  --bg-url: url("/gfx/gfx001/115.png");
  --bg-x: 0;
  --bg-y: -116px;
  --hover-x: -91px;
  --hover-y: -116px;
  --width: 91px;
  --height: 29px;
}

.img-btn[data-id="back"] {
  --bg-url: url("/gfx/gfx001/115.png");
  --bg-x: 0;
  --bg-y: -145px;
  --hover-x: -91px;
  --hover-y: -145px;
  --width: 91px;
  --height: 29px;
}

.img-btn[data-id="next"] {
  --bg-url: url("/gfx/gfx001/115.png");
  --bg-x: 0;
  --bg-y: -203px;
  --hover-x: -91px;
  --hover-y: -203px;
  --width: 91px;
  --height: 29px;
}

.img-btn[data-id="exit-game"] {
  --bg-url: url("/gfx/gfx001/124.png");
  --bg-x: 0;
  --bg-y: 0;
  --hover-x: 0;
  --hover-y: -53px;
  --width: 51px;
  --height: 53px;
}

.img-btn[data-id="toggle-arrow"] {
  background-color: #000;
  --bg-url: url("/gfx/gfx001/122.png");
  --bg-x: -184px;
  --bg-y: -39px;
  --hover-x: -205px;
  --hover-y: -39px;
  --width: 21px;
  --height: 18px;
}

.img-btn[data-id="inventory"] {
  background-color: #000;
  --bg-url: url("/gfx/gfx002/125.png");
  --bg-x: 0;
  --bg-y: 0;
  --hover-x: -36px;
  --hover-y: 0;
  --width: 36px;
  --height: 19px;
}

.img-btn[data-id="map"] {
  background-color: #000;
  --bg-url: url("/gfx/gfx002/125.png");
  --bg-x: 0;
  --bg-y: -19px;
  --hover-x: -36px;
  --hover-y: -19px;
  --width: 36px;
  --height: 19px;
}

.img-btn[data-id="spells"] {
  background-color: #000;
  --bg-url: url("/gfx/gfx002/125.png");
  --bg-x: 0;
  --bg-y: -38px;
  --hover-x: -36px;
  --hover-y: -38px;
  --width: 36px;
  --height: 19px;
}

.img-btn[data-id="stats"] {
  background-color: #000;
  --bg-url: url("/gfx/gfx002/125.png");
  --bg-x: 0;
  --bg-y: -95px;
  --hover-x: -36px;
  --hover-y: -95px;
  --width: 36px;
  --height: 19px;
}

.img-btn[data-id="online"] {
  background-color: #000;
  --bg-url: url("/gfx/gfx002/125.png");
  --bg-x: 0;
  --bg-y: -114px;
  --hover-x: -36px;
  --hover-y: -114px;
  --width: 36px;
  --height: 19px;
}

.img-btn[data-id="party"] {
  background-color: #000;
  --bg-url: url("/gfx/gfx002/125.png");
  --bg-x: 0;
  --bg-y: -133px;
  --hover-x: -36px;
  --hover-y: -133px;
  --width: 36px;
  --height: 19px;
}

.img-btn[data-id="quest-select"] {
  background-color: #000;
  --bg-url: url("/gfx/gfx002/127.png");
  --bg-x: -303px;
  --bg-y: -242px;
  --hover-x: -303px;
  --hover-y: -242px;
  --width: 16px;
  --height: 15px;
}

.img-btn[data-id="upgrade-stat"] {
  background-color: #000;
  --bg-url: url("/gfx/gfx002/127.png");
  --bg-x: -215px;
  --bg-y: -386px;
  --hover-x: -234px;
  --hover-y: -386px;
  --width: 19px;
  --height: 15px;
}

#offset-tweaker {
  color: #fff;
  position: absolute;
  top: 20px;
  right: 100px;
}

#offset-tweaker input {
  width: 40px;
}

.slider-container {
  position: absolute;
  width: 123px;
  height: 16px;
  background: transparent;
  left: 24px;
  top: 96px;
}

.slider-thumb {
  position: absolute;
  top: 0;
  width: 16px;
  height: 15px;
  background: url("/gfx/gfx002/129.png") 0 -75px;
  touch-action: none;
  user-select: none;
}

.slider-thumb:hover {
  background-position: 0 -90px;
}

.hidden {
  display: none !important;
}

:root {
  --ui-scale: 1;
}

@media (max-width: 768px) {
  :root {
    --ui-scale: 0.8;
  }

  .stat-label {
    font-size: 10px;
  }
}

@media (max-width: 480px) {
  :root {
    --ui-scale: 0.6;
  }

  .stat-label {
    font-size: 9px;
  }

  #hud {
    top: 20px;
  }
}

.heart-sprite.low-health {
  animation: pulse-sprite 1s ease-in-out infinite;
}

@keyframes pulse-sprite {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.7;
  }
}

#shop {
  position: relative;
  user-select: none;
  box-sizing: border-box;
  width: 284px;
  height: 290px;
  background-color: #000;
  background-image: url("/gfx/gfx002/152.png");
}

#shop .shop-name {
  position: absolute;
  color: #fff;
  font-size: 12px;
  left: 24px;
  top: 18px;
}

#shop .buttons {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 260px;
  display: flex;
  gap: 3px;
  justify-content: center;
}

.scroll-handle {
  position: absolute;
  right: 16px;
  width: 16px;
  height: 15px;
  background: url("/gfx/gfx002/129.png") 0 -75px;
  touch-action: none;
  user-select: none;
}

#shop .item-list {
  position: absolute;
  top: 50px;
  left: 22px;
  width: 232px;
  height: 193px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#shop .item-list::-webkit-scrollbar {
  display: none;
}

.menu-item {
  color: #fff;
  font-size: 12px;
  position: relative;
  width: 224px;
}

.menu-item::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.05);
  opacity: 0;
  pointer-events: none;
  z-index: 0;
  box-sizing: border-box;
  left: -8px;
}

.menu-item:hover::before {
  opacity: 1;
}

.menu-label {
  position: absolute;
  top: 6px;
  left: 53px;
}

.menu-item.item .menu-label,
.menu-item.item .menu-description {
  left: 62px;
}

.menu-description {
  position: absolute;
  top: 19px;
  left: 53px;
}

.link {
  text-decoration: underline;
}

.menu-item.item {
  position: relative;
  display: grid;
  grid-template-columns: 48px auto;
  align-items: center;
  padding: 0 0.5rem;
  cursor: pointer;
  height: 38px;
  background-image: url("/gfx/gfx003/100.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: auto;
  image-rendering: pixelated;
  width: 210px;
}

.menu-item.item .tooltip {
  position: absolute;
  top: 0;
  left: 25%;
  background-color: black;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  z-index: 10;
}

.menu-item.item img:hover ~ .tooltip {
  opacity: 0.9;
}

.menu-item-img {
  max-width: 48px;
  max-height: 48px;
  object-fit: contain;
  image-rendering: pixelated;
  position: relative;
  z-index: 1;
  justify-self: center;
}

.menu-item.text {
  min-height: 12px;
}

.menu-item-icon {
  background-color: #000;
  background-image: url("/gfx/gfx002/127.png");
  width: 31px;
  height: 31px;
}

.menu-item-icon[data-id="0"] {
  background-position-y: -291px;
}

.menu-item-icon[data-id="1"] {
  background-position-y: -291px;
  background-position-x: -31px;
}

.menu-item-icon[data-id="2"] {
  background-position-y: -291px;
  background-position-x: -63px;
}

.menu-item-icon[data-id="3"] {
  background-position-y: -291px;
  background-position-x: -94px;
}

.menu-item-icon[data-id="4"] {
  background-position-y: -291px;
  background-position-x: -124px;
}

.menu-item-icon[data-id="5"] {
  background-position-y: -291px;
  background-position-x: -155px;
}

.menu-item-icon[data-id="20"] {
  background-position-y: -353px;
  background-position-x: -63px;
}

.menu-item-icon[data-id="21"] {
  background-position-y: -353px;
  background-position-x: -94px;
}

.notyf__wrapper {
  background: #000;
  opacity: 0.6;
  padding: 0 3px !important;
  font-size: 0.8rem;
}

.notyf__toast--upper {
  margin-bottom: 10px !important;
}

.debug {
  width: 100%;
  height: auto;
  position: static;
}

.dialog-md {
  position: relative;
  background-color: #000;
  background-image: url("/gfx/gfx002/152.png");
  color: #ddd;
  width: 284px;
  height: 290px;
  user-select: none;
}

.dialog-md .dialog-contents .player {
  flex-direction: column;
  width: 103px;
  font-size: 12px;
  color: #b4a08c;
  align-items: center;
  padding: 5px;
  z-index: 1;
}

.dialog-md .dialog-contents .player:hover {
  position: relative;
}

.dialog-md .dialog-contents .player:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(123, 90, 41, 0.5);
  pointer-events: none;
  z-index: -1;
}

.dialog-md .dialog-contents .player .nameplate {
  display: flex;
  flex-direction: row;
}

.dialog-md .dialog-contents .player .nameplate .name {
  text-transform: capitalize;
  font-weight: bold;
  color: #f0f0c8;
  padding: 0 2px 0 2px;
}

.dialog-md .dialog-contents .player .nameplate .guild,
.dialog-md .dialog-contents .player .nameplate .name,
.dialog-md .dialog-contents .player .nameplate .icon {
  margin: 0 1px 0 1px;
}

.dialog-md .dialog-contents .player .title {
  font-style: italic;
  text-align: center;
}

.dialog-md .dialog-contents {
  position: absolute;
  top: 44px;
  left: 15px;
  width: 233px;
  height: 198px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 6px;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  touch-action: pan-y;
}

.dialog-md .dialog-contents > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dialog-md .spell-name {
  color: #fff;
  font-size: 10px;
  max-width: 32px;
  text-align: center;
}

.dialog-md .spell-level {
  color: #b4a08c;
  font-size: 9px;
  position: relative;
}

.dialog-md .spell-icon {
  width: 34px;
  height: 32px;
}

.dialog-md .spell-icon:hover {
  background-position-x: -34px;
}

.dialog-md .spell-grid::-webkit-scrollbar {
  display: none;
}

.dialog-md .scroll-handle {
  position: absolute;
  right: 16px;
  width: 16px;
  height: 15px;
  background: url("/gfx/gfx002/129.png") 0 -75px;
  touch-action: none;
  user-select: none;
}

.dialog-md .label {
  position: absolute;
  top: 18px;
  left: 24px;
  color: #fff;
  font-size: 12px;
}

.dialog-md button[data-id="cancel"] {
  position: absolute;
  bottom: 10px;
  left: 98px;
}
