html {
  background: url("/back.jpg");
}

@font-face {
  font-family: w95fa;
  src: url("w95fa.woff2") format("woff2"), url("w95fa.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  overflow: hidden;
}

* {
  /* biome-ignore lint/a11y/useGenericFontNames: Only custom font!! */
  font-family: w95fa !important;
}

@media (max-aspect-ratio: 4 / 3) {
  #container {
    height: 100vh;
    width: calc(100vh * 4 / 3);
    max-width: 100vw;
  }
}

#container {
  position: relative;
  width: 100vw;
  height: calc(100vw * 3 / 4);
  max-height: 100vh;
}

@media (max-aspect-ratio: 4 / 3) {
  #container {
    height: 100vh;
  }
}

canvas {
  position: absolute;
  top: 0;
  display: block;
  image-rendering: pixelated;
}

#game {
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
}

@media (min-aspect-ratio: 16 / 9) {
  #container {
    height: 100vh;
  }
  #game {
    transform: translate(-50%);
  }
}

#ui {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.hidden {
  display: none !important;
}

#main-menu {
  display: flex;
  flex-flow: column;
  width: 100%;
  align-self: center;
  align-items: center;
  gap: 2px;
}

#main-menu-logo {
  margin-bottom: 10px;
  position: relative;
}

#main-menu-logo::after {
  content: "Web Edition!";
  position: absolute;
  display: inline-block;
  font-style: italic;
  font-family: monospace;
  color: #f9f92c;
  bottom: 15px;
  right: 0;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    font-size: 1em;
    rotate: -1deg;
  }

  50% {
    font-size: 1.1em;
    rotate: 2deg;
  }

  100% {
    font-size: 1em;
    rotate: -1deg;
  }
}

#login-form {
  background: url("/gfx/gfx001/102.png");
  background-color: #000;
  width: 320px;
  height: 159px;
  margin: auto;
  position: relative;
}

input[type="text"],
input[type="password"] {
  background: #a38269;
  color: #000;
  border: 1px solid #000;
  outline: none;
}

#login-username {
  position: absolute;
  top: 35px;
  left: 130px;
  width: 138px;
  height: 17px;
}

#login-password {
  position: absolute;
  top: 72px;
  left: 130px;
  width: 138px;
  height: 17px;
}

#login-form .buttons {
  position: absolute;
  bottom: 20px;
  display: flex;
  gap: 2px;
  width: 100%;
  justify-content: center;
}

#create-account-form {
  display: flex;
  flex-flow: column;
  align-self: center;
  margin: auto;
}

#create-account-form form {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 10px;
}

#create-account-form form > div {
  display: flex;
  flex-flow: column;
  gap: 5px;
}

#create-account-form .buttons {
  display: flex;
  flex-flow: row;
  gap: 2px;
}

#character-select {
  display: flex;
  flex-flow: column;
  align-self: center;
  margin: auto;
  gap: 20px;
}

#character-select .characters {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 2px;
}

@media screen and (min-width: 840px) {
  #character-select .characters {
    flex-flow: row;
  }
}

#character-select .character {
  background: url("/gfx/gfx001/111.png");
  background-color: #000;
  width: 276px;
  height: 123px;
  position: relative;
  user-select: none;
}

#character-select .character > .buttons {
  position: absolute;
  bottom: 8px;
  left: 160px;
  display: flex;
  gap: 2px;
  flex-flow: column;
}

#character-select .character .name {
  position: absolute;
  top: 30px;
  left: 160px;
  width: 90px;
  text-align: center;
  color: #b4a08c;
  font-size: 12px;
}

#character-select .character .level {
  position: absolute;
  top: 98px;
  left: 30px;
  color: #b4a08c;
  font-size: 12px;
}

#character-select > .buttons {
  align-self: center;
}

#create-character-form {
  position: absolute;
  width: 360px;
  height: 240px;
  background-color: #000;
  background-image: url("/gfx/gfx001/120.png");
  z-index: 1010;
}

#create-character-name {
  background: transparent;
  border: none;
  position: absolute;
  color: #b4a08c;
  top: 58px;
  left: 82px;
  width: 130px;
}

#create-character-form .buttons {
  position: absolute;
  display: flex;
  gap: 2px;
  bottom: 16px;
  right: 19px;
}

#create-character-toggles {
  position: absolute;
  display: flex;
  flex-flow: column;
  top: 84px;
  left: 170px;
  gap: 9px;
}

#create-character-toggles > div {
  display: flex;
}

#change-password-form {
  position: absolute;
  width: 360px;
  height: 240px;
  background-color: #000;
  background-image: url("/gfx/gfx001/121.png");
  z-index: 1010;
}

#change-password-form input[name="username"] {
  background: transparent;
  border: none;
  position: absolute;
  color: #b4a08c;
  top: 62px;
  left: 200px;
  width: 130px;
}

#change-password-form input[name="old-password"] {
  background: transparent;
  border: none;
  position: absolute;
  color: #b4a08c;
  top: 92px;
  left: 200px;
  width: 130px;
}

#change-password-form input[name="new-password"] {
  background: transparent;
  border: none;
  position: absolute;
  color: #b4a08c;
  top: 122px;
  left: 200px;
  width: 130px;
}

#change-password-form input[name="confirm-new-password"] {
  background: transparent;
  border: none;
  position: absolute;
  color: #b4a08c;
  top: 152px;
  left: 200px;
  width: 130px;
}

#change-password-form .buttons {
  position: absolute;
  display: flex;
  gap: 2px;
  bottom: 16px;
  right: 19px;
}

#cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1); /* optional dimming effect */
  z-index: 1000; /* higher than game UI, lower than modal */
}

.title {
  font-size: 13px;
  color: #f0f0c8;
}

.message {
  font-size: 12px;
  color: #fff;
}

#small-alert {
  position: absolute;
  background: url("/gfx/gfx001/118.png");
  background-color: #000;
  width: 290px;
  height: 157px;
  user-select: none;
  z-index: 1020;
}

#small-alert .title {
  position: absolute;
  left: 58px;
  top: 22px;
  width: 210px;
}

#small-alert .message {
  position: absolute;
  left: 20px;
  top: 56px;
  width: 252px;
  height: 55px;
}

#small-alert button {
  position: absolute;
  top: 113px;
  right: 18px;
}

#small-confirm {
  position: absolute;
  background: url("/gfx/gfx001/123.png");
  background-color: #000;
  width: 290px;
  height: 125px;
  user-select: none;
  z-index: 1020;
}

#small-confirm .title {
  position: absolute;
  left: 18px;
  top: 11px;
  width: 258px;
}

#small-confirm .message {
  position: absolute;
  left: 18px;
  top: 40px;
  width: 255px;
  height: 40px;
}

#small-confirm .buttons {
  position: absolute;
  bottom: 14px;
  right: 17px;
  display: flex;
  gap: 2px;
}

#exit-game {
  position: absolute;
  top: 0;
  right: 0;
}

@media screen and (min-width: 470px) {
  #chat {
    width: 300px !important;
  }
}

@media screen and (min-width: 940px) {
  #chat {
    top: unset !important;
    bottom: 0;
  }
}

#chat {
  position: absolute;
  top: 0;
  background: #111111;
  width: 200px;
  color: #fff;
  opacity: 0.8;
  padding: 5px 10px;
}

#chat-message {
  background: #000;
  color: #fff;
  width: 100%;
  margin-bottom: 5px;
}

#btn-toggle-chat {
  background: none;
  color: #fff;
  float: right;
}

#chat-tab-bar button {
  background: none;
  color: #adadad;
}

#chat-tab-bar button.active {
  color: #fff;
}

#local-chat {
  list-style: none;
  padding: 0 5px;
  height: 130px;
  overflow-y: scroll;
}

#local-chat li {
  padding: 0;
  word-break: break-all;
}

#mobile-controls {
  opacity: 0.8;
}

#mobile-controls,
#mobile-controls * {
  user-select: none;
  -webkit-user-select: none;
}

#joystick-container {
  position: absolute;
  bottom: 5%;
  left: 5%;
  width: 120px;
  height: 120px;
  touch-action: none;
}

#joystick-base {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: transparent;
  background-image: url("/move.png");
  background-size: cover;
  position: absolute;
}

#joystick-thumb {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  background-color: transparent;
  background-image: url("/move-circle.png");
  background-size: cover;
  left: 20px;
  top: 20px;
  transform: translate(0, 0);
}

#mobile-actions-container {
  position: absolute;
  bottom: 1%;
  right: 10%;
  width: 170px;
  height: 120px;
  touch-action: none;
  display: flex;
}

#mobile-actions-container button {
  border: none;
  outline: none;
  height: 84px;
  width: 84px;
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
}

#btn-attack {
  background-image: url("/attack.png");
}

#btn-toggle-sit {
  background-image: url("/sit.png");
}

.img-label {
  --bg-url: "";
  --bg-x: 0;
  --bg-y: 0;
  --width: 0;
  --height: 0;

  display: block;
  background-color: transparent;
  /* biome-ignore lint/suspicious/noShorthandPropertyOverrides: CSS variables */
  background: var(--bg-url) var(--bg-x) var(--bg-y);
  width: var(--width);
  height: var(--height);
  user-select: none;
}

.img-label[data-id="account-name"] {
  --bg-url: url("/gfx/gfx001/112.png");
  --bg-x: 0;
  --bg-y: 0;
  --width: 149px;
  --height: 16px;
}

.img-label[data-id="password"] {
  --bg-url: url("/gfx/gfx001/112.png");
  --bg-x: 0;
  --bg-y: -17px;
  --width: 149px;
  --height: 12px;
}

.img-label[data-id="confirm-password"] {
  --bg-url: url("/gfx/gfx001/112.png");
  --bg-x: 0;
  --bg-y: -29px;
  --width: 149px;
  --height: 16px;
}

.img-label[data-id="real-name"] {
  --bg-url: url("/gfx/gfx001/112.png");
  --bg-x: 0;
  --bg-y: -44px;
  --width: 149px;
  --height: 16px;
}

.img-label[data-id="location"] {
  --bg-url: url("/gfx/gfx001/112.png");
  --bg-x: 0;
  --bg-y: -58px;
  --width: 149px;
  --height: 16px;
}

.img-label[data-id="email"] {
  --bg-url: url("/gfx/gfx001/112.png");
  --bg-x: 0;
  --bg-y: -76px;
  --width: 149px;
  --height: 16px;
}

.img-label[data-id="gender"] {
  --bg-url: url("/gfx/gfx001/122.png");
  --bg-x: 0;
  --bg-y: -38px;
  --width: 23px;
  --height: 18px;
}

.img-label[data-id="hair-color"] {
  --bg-url: url("/gfx/gfx001/122.png");
  --bg-x: 0;
  --bg-y: 0;
  --width: 23px;
  --height: 18px;
}

.img-label[data-id="hair-style"] {
  --bg-url: url("/gfx/gfx001/122.png");
  --bg-x: 0;
  --bg-y: -20px;
  --width: 23px;
  --height: 18px;
}

.img-label[data-id="skin"] {
  --bg-url: url("/gfx/gfx001/122.png");
  --bg-x: -46px;
  --bg-y: -38px;
  --width: 23px;
  --height: 18px;
}

.img-btn {
  --bg-url: "";
  --bg-x: 0;
  --bg-y: 0;
  --hover-x: 0;
  --hover-y: 0;
  --width: 0;
  --height: 0;

  background-color: transparent;
  border: none;
  outline: none;
  /* biome-ignore lint/suspicious/noShorthandPropertyOverrides: CSS variables */
  background: var(--bg-url) var(--bg-x) var(--bg-y);
  width: var(--width);
  height: var(--height);
  cursor: pointer;
}

.img-btn:hover {
  background-position: var(--hover-x) var(--hover-y);
}

/* Specific buttons */
.img-btn[data-id="create-account"] {
  --bg-url: url("/gfx/gfx001/113.png");
  --bg-x: 0;
  --bg-y: 0;
  --hover-x: -180px;
  --hover-y: 0;
  --width: 180px;
  --height: 40px;
}

.img-btn[data-id="play-game"] {
  --bg-url: url("/gfx/gfx001/113.png");
  --bg-x: 0;
  --bg-y: -40px;
  --hover-x: -180px;
  --hover-y: -40px;
  --width: 180px;
  --height: 40px;
}

.img-btn[data-id="view-credits"] {
  --bg-url: url("/gfx/gfx001/113.png");
  --bg-x: 0;
  --bg-y: -80px;
  --hover-x: -180px;
  --hover-y: -80px;
  --width: 180px;
  --height: 40px;
}

.img-btn[data-id="create"] {
  --bg-url: url("/gfx/gfx001/114.png");
  --bg-x: 0;
  --bg-y: 0;
  --hover-x: -120px;
  --hover-y: 0;
  --width: 120px;
  --height: 40px;
}

.img-btn[data-id="cancel-big"] {
  --bg-url: url("/gfx/gfx001/114.png");
  --bg-x: 0;
  --bg-y: -40px;
  --hover-x: -120px;
  --hover-y: -40px;
  --width: 120px;
  --height: 40px;
}

.img-btn[data-id="connect-big"] {
  --bg-url: url("/gfx/gfx001/114.png");
  --bg-x: 0;
  --bg-y: -80px;
  --hover-x: -120px;
  --hover-y: -80px;
  --width: 120px;
  --height: 40px;
}

.img-btn[data-id="password"] {
  --bg-url: url("/gfx/gfx001/114.png");
  --bg-x: 0;
  --bg-y: -120px;
  --hover-x: -120px;
  --hover-y: -120px;
  --width: 120px;
  --height: 40px;
}

.img-btn[data-id="play-game"] {
  --bg-url: url("/gfx/gfx001/113.png");
  --bg-x: 0;
  --bg-y: -40px;
  --hover-x: -180px;
  --hover-y: -40px;
  --width: 180px;
  --height: 40px;
}

.img-btn[data-id="connect"] {
  --bg-url: url("/gfx/gfx001/115.png");
  --bg-x: 0;
  --bg-y: 0;
  --hover-x: -91px;
  --hover-y: -0;
  --width: 91px;
  --height: 29px;
}

.img-btn[data-id="cancel"] {
  --bg-url: url("/gfx/gfx001/115.png");
  --bg-x: 0;
  --bg-y: -29px;
  --hover-x: -91px;
  --hover-y: -29px;
  --width: 91px;
  --height: 29px;
}

.img-btn[data-id="login"] {
  --bg-url: url("/gfx/gfx001/115.png");
  --bg-x: 0;
  --bg-y: -58px;
  --hover-x: -91px;
  --hover-y: -58px;
  --width: 91px;
  --height: 29px;
}

.img-btn[data-id="delete"] {
  --bg-url: url("/gfx/gfx001/115.png");
  --bg-x: 0;
  --bg-y: -87px;
  --hover-x: -91px;
  --hover-y: -87px;
  --width: 91px;
  --height: 29px;
}

.img-btn[data-id="ok"] {
  --bg-url: url("/gfx/gfx001/115.png");
  --bg-x: 0;
  --bg-y: -116px;
  --hover-x: -91px;
  --hover-y: -116px;
  --width: 91px;
  --height: 29px;
}

.img-btn[data-id="exit-game"] {
  --bg-url: url("/gfx/gfx001/124.png");
  --bg-x: 0;
  --bg-y: 0;
  --hover-x: 0;
  --hover-y: -53px;
  --width: 51px;
  --height: 53px;
}

.img-btn[data-id="toggle-arrow"] {
  background-color: #000;
  --bg-url: url("/gfx/gfx001/122.png");
  --bg-x: -184px;
  --bg-y: -39px;
  --hover-x: -205px;
  --hover-y: -39px;
  --width: 21px;
  --height: 18px;
}