#party {
  position: relative;
  background-color: #000;
  background-image: url("/gfx/gfx002/152.png");
  width: 284px;
  height: 290px;
  user-select: none;
}

#party .member-list {
  position: absolute;
  top: 50px;
  left: 15px;
  width: 233px;
  height: 192px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 6px;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  touch-action: pan-y;
}

#party .member-list > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#party .name-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  gap: 2px;
  min-height: 14px;
}

#party .member-name {
  color: #fff;
  font-size: 10px;
  max-width: 32px;
  text-align: center;
}

#party .remove-icon {
  background: url("/gfx/gfx002/143.png");
  width: 14px;
  height: 10px;
  cursor: pointer;
}

#party .remove-icon:hover {
  background-position-y: -20px;
}

#party .member-level {
  color: #b4a08c;
  font-size: 9px;
  position: relative;
}

#party .member-list::-webkit-scrollbar {
  display: none;
}

#party .hp-bar-container {
  margin: 5px 0;
  width: 50px;
  height: 6px;
  background: rgb(8, 8, 8);
  border-radius: 5px;
  border: 1px solid #fff;
}

#party .hp-bar {
  height: 100%;
  border-radius: 5px;
}

#party .scroll-handle {
  position: absolute;
  right: 16px;
  width: 16px;
  height: 15px;
  background: url("/gfx/gfx002/129.png") 0 -75px;
  touch-action: none;
  user-select: none;
}

#party .label {
  position: absolute;
  top: 18px;
  left: 24px;
  color: #fff;
  font-size: 12px;
}

#party button[data-id="cancel"] {
  position: absolute;
  bottom: 10px;
  left: 98px;
}
